<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.SSAFP.UniCode.model.board.repo.ExhibitBoardRepo">
	
	<insert id="writeArticle" parameterType="exhibitBoard">
		insert into board (uid, bcid, title, content, created_time, updated_time, hit, like_cnt) 
		values(#{uid}, #{bcid}, #{title}, #{content}, now(), now(), 0, 0)
		<selectKey resultType="int" keyProperty="bid" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	
 	<update id="modifyArticle" parameterType="exhibitBoard">
		update board
		<set>
			<if test = "bcid != null">
				bcid = #{bcid},
			</if>
			<if test = "title != null">
				title = #{title},
			</if>
			<if test = "content != null">
				content = #{content},
			</if>
			updated_time = now()
		</set>
		where bid = #{bid}
	</update>
	
	<select id="getAllExhibitArticle" parameterType="exhibitBoardParam" resultMap="baseExhibitBoardProjectMap">
		select * from board where
		
		<if test="languageSize > 0">
            bid in (
            	select bid from project
				where pid in (
					select pid from p_develop
					where lid in (
							select lid from language 
							where name in
							<foreach item="lan" collection="language" open="(" close=")" separator=",">
	    						#{lan}
	   						</foreach>
							)
					)) and
		</if>
		
		<if test="uid!=''">
			bid in (
					select bid from project
					where pid in (
						select pid from project_member 
						where uid = #{uid}
					)
			) and
		</if>
		
		bcid = "exhibit"
		
		<if test="sortLike==true">
			order by like_cnt desc
		</if>
		<if test="sortLike!=true">
			order by created_time
		</if>
	</select>

	<select id="getArticle" parameterType="int" resultMap="detailExhibitBoardMap">
		select * from board
		where bid = #{bid}
	</select>
	
	<delete id="deleteArticle" parameterType="int">
		delete from board
		where bid = #{bid}
	</delete>
	
	<insert id="uploadFileList" parameterType="exhibitBoard">
		insert into file_info (bid, type, save_folder, origin_file, save_file)
		values
		<foreach collection="fileList" item="file" separator=" , ">
			(#{bid}, "file", #{file.saveFolder}, #{file.originFile}, #{file.saveFile})
		</foreach>
	</insert>
	
	<insert id="uploadImageList" parameterType="exhibitBoard">
		insert into file_info (bid, type, save_folder, origin_file, save_file)
		values
		<foreach collection="imageList" item="file" separator=",">
			(#{bid}, "image", #{file.saveFolder}, #{file.originFile}, #{file.saveFile})
		</foreach>
	</insert>

 	<delete id="deleteFileList" parameterType="int">
		delete from file_info
		where bid = #{bid}
	</delete>
	
	<select id="getFileList" parameterType="int" resultMap="baseFileInfoMap">
		select * from file_info
		where bid = #{bid}
	</select>
	
	<select id="fileList" resultMap="baseFileInfoMap">
		select * from file_info
		where type="file" and bid = #{bid}
	</select>
	
	<select id="imageList" resultMap="baseFileInfoMap">
		select * from file_info
		where type="image" and bid = #{bid}
	</select>
	
	<select id="project" resultMap="org.SSAFP.UniCode.model.board.repo.ProjectRepo.baseProjectMainImgMap">
		select * from project p
		where p.bid = #{bid}
	</select>
	
	<update id="updateHit" parameterType="int">
		update board
		set hit = hit + 1
		where bid = #{bid}
	</update>
	
	<resultMap type="exhibitBoard" id="baseExhibitBoardMap">
		<id column="bid" property="bid"/>
		<result column="uid" property="uid"/>
		<result column="bcid" property="bcid"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="hit" property="hit"/>
		<result column="like" property="like"/>
		<result column="created_time" property="createdTime"/>
		<result column="updated_time" property="updatedTime"/>
	</resultMap>
	
	<resultMap type="exhibitBoard" id="detailExhibitBoardMap" extends="baseExhibitBoardMap">
		<association property="project" column="bid" javaType="project" select="project"/>
		<collection property="fileList" column="bid" javaType="list" ofType="fileInfo" select="fileList"/>
		<collection property="imageList" column="bid" javaType="list" ofType="fileInfo" select="imageList"/>
	</resultMap>
	
	<resultMap type="exhibitBoard" id="baseExhibitBoardProjectMap" extends="baseExhibitBoardMap">
		<association property="project" column="bid" javaType="project" select="project"/>
	</resultMap>
	
	<resultMap type="fileInfo" id="baseFileInfoMap">
		<id column="fid" property="fid"/>
		<result column="bid" property="bid"/>
		<result column="type" property="type"/>
		<result column="save_folder" property="saveFolder"/>
		<result column="origin_file" property="originFile"/>
		<result column="save_file" property="saveFile"/>
	</resultMap>
	
</mapper>