<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.SSAFP.UniCode.model.board.repo">

	<resultMap type="studyBoard" id="baseStudyBoardMap">
	<id column="bid" property="bid/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="created_time" property="createdTime"/>
	<result column="updated_time" property="updatedTime"/>
	<result column="uid" property="uid"/>
	<result column="hit" property="hit"/>
	<result column="like" property="like"/>
	</resultMap>
	
	<!-- <insert id="insert" parameterType="studyBoard">
		insert into Board (title, content, created_time, uid, hit) values (#{title}, #{content} now(), #{uid}, 0)
		<selectKey resultType="int" keyProperty="bid" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<inser
	
	<update id="update" parameterType="studyBoard">
		update Board 
		<set>
			<if test="title!=null">title=#{title},</if>
			<if test="content!=null">content=#{content},</if>
		</set>
		created_time = now()
		where bid = #{bid}
	</update>
	
	<delete id="delete" parameterType="int">
	 delete from board where bid = #{bid} 
	</delete>
	
	<select id="selectAlla parameterMap="baseStudyBoardMap">
		
	</select>
 -->

</mapper>